header {
    background-color: #007bff;
    padding: 20px 0;
    text-align: center;
  }
  
  h1 {
    color: #fff;
  }
  
  .search-container {
    margin-top: 20px;
  }
  
  .search-input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  